$fontFamOne: "Rubik", sans-serif;
//
$fontFamTwo: "Montserrat" sans-serif;
//
$fontWtOne: 400;
$fontWtTwo: 500;
$fontWtThree: 700;
//
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 24px;
$fontSize5: 32px;
$fontSize6: 48px;
$fontSize7: 64px;
//
$lineheight1: 24px;
$lineheight2: 27px;
$lineheight3: 32px;
$lineheight4: 48px;
$lineheight5: 64px;
$lineheight6: 88px;
